{% extends '@Interface/layout.html.twig' %}
{%  block content %}
    <div class="position-relative">
        <div id="login-box" class="login-box visible widget-box no-border">
            <div class="widget-body">
                <div class="widget-main">
                    <h4 class="header blue lighter bigger">
                        <i class="ace-icon fa fa-coffee green"></i>
                        Connexion au cloud Gourmand
                    </h4>

                    <div class="space-6"></div>
                    <a href="{{ url }}" class="btn btn-block btn-lg btn-warning"><i class="fa fa-fw fa-cloud"></i> Connexion</a>
                </div><!-- /.widget-main -->
                <div class="toolbar clearfix">
                    <div>
                        <a href="#" class="user-signup-link">
                            <i class="ace-icon fa fa-lock"></i>
                            Mot de passe perdu ?
                        </a>
                    </div>
                    <div>
                        <a href="#" class="forgot-password-link">
                            <i class="ace-icon fa fa-envelope"></i>
                            Code d'invitation
                        </a>
                    </div>
                </div>
            </div><!-- /.widget-body -->
        </div><!-- /.login-box -->
    </div><!-- /.position-relative -->
{% endblock %}
